::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f8f9fa;
    border-radius: 4px;
    margin: 0px 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}